
streamlit
python-dotenv
google-generativeai

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters

torch
sentence-transformers
faiss-cpu

sqlalchemy
scipy

python-docx
PyPDF2
pdfplumber
numpy
pandas
python-pptx
pytesseract
pillow
