streamlit
python-dotenv
google-generativeai

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters

sentence-transformers
faiss-cpu

python-docx
PyPDF2
pdfplumber

numpy
pandas
python-pptx
pytesseract 
pillow
