torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2

streamlit
python-dotenv
google-generativeai

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters

sentence-transformers
faiss-cpu

sqlalchemy
scipy

python-docx
PyPDF2
pdfplumber
numpy
pandas
python-pptx
pytesseract
pillow
